config.bat
config.json
work/
WindowsServer/
bin/

# Dynamic Assets
ui/fonts/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs & Temp
*.log
*.tmp
.DS_Store

# Test utilities & text dumps
test_tools/
player_lines.txt